:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  height: 20%;
  width: 50%;
  font-size: 50px;
  background-color: #f0e68c;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

button:hover {
  background-color: #ffdab9;
}

button:active {
  background-color: #f0c68c;
  transform: scale(0.95);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.retry-link {
  color: rgb(122, 5, 5);
  font-size: 20px;
}
