.container {
    display: flex; /* Используем Flexbox для выстраивания в строку */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    gap: 10px; /* Расстояние между элементами (необязательно) */
    color: white;
    font-weight: bold;
}

p {
    font-size: 100px; /* Устанавливаем размер шрифта */
    margin: 0; /* Убираем отступы у параграфа */
}
input{
    font-size: 100px;
    width: 130px;
}

.check{
    position: absolute; /* Абсолютное позиционирование */
    top: 50px; /* Отступ сверху 50% от высоты экрана */
    left: 50%; /* Отступ слева 50% от ширины экрана */
    transform: translate(-50%, -50%); /* Центрирование кнопки по вертикали и горизонтали */
    padding: 10px 20px; /* Добавляем отступы для кнопки */
    font-size: 16px; /* Настраиваем размер шрифта */
    font-family: 'Lucida Console', Monaco, monospace;
}

.timer-container {
    display: flex; /* Используем Flexbox для выстраивания в строку */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    width: 100%; /* Ширина контейнера на 100% */
    max-width: 600px; /* Максимальная ширина контейнера для ограничения */
    height: 20px; /* Высота шкалы */
    background-color: #eee; /* Цвет фона шкалы */
    border-radius: 5px; /* Скругленные углы */
    overflow: hidden; /* Скрываем часть шкалы, выходящую за границы */
    position: relative; /* Для позиционирования внутреннего элемента */
    margin: 20px auto; /* Центрируем по горизонтали с автоматическими отступами */
  }
  
  .timer-bar {
    display: flex; /* Используем Flexbox для выстраивания в строку */
    justify-content: center; /* Центрируем содержимое по горизонтали */
    height: 100%; /* Высота заполненной части шкалы */
    background-color: rgb(14, 136, 75); /* Цвет заполненной части */
    transition: width 0.5s ease; /* Плавный переход ширины */
  }
  